[submodule "Editor/BinaryEditor"]
	path = Editor/BinaryEditor
	url  = ../wpfucBinaryEditor.git
[submodule "Editor/MatrixEditor"]
	path = Editor/MatrixEditor
	url  = ../wpfucMatrixEditor.git
[submodule "Sample/SampleControl"]
	path = Sample/SampleControl
	url  = ../wpfucSampleControl.git
[submodule "Utils/ProgressBar"]
	path = Utils/ProgressBar
	url  = ../wpfucProgressBar.git
[submodule "Utils/RectSelectWindow"]
	path = Utils/RectSelectWindow
	url  = ../wpfRectSelectWindow.git
[submodule "WpfHelper"]
	path = WpfHelper
	url  = ../WpfHelper.git
