[submodule "Sample/SampleControl"]
	path = Sample/SampleControl
	url  = ../wpfucSampleControl.git
[submodule "Utils/RectSelectWindow"]
	path = Utils/RectSelectWindow
	url = git@gitlab.com:takahiro-itou/wpfRectSelectWindow.git
